[submodule "themes/terminalcv"]
path = themes/terminalcv
	url = https://github.com/coolapso/hugo-theme-terminalcv.git
[submodule "hugo-theme-terminalcv"]
	path = hugo-theme-terminalcv
	url = https://github.com/coolapso/hugo-theme-terminalcv.git
